.total-users-widget {
  background-color: #59000fda; /* Example color */
}

.total-items-widget {
  background-color: #59000fda; /* Example color */
}

.low-stock-widget {
  background-color: #59000fda; /* Example color */
}

.out-of-stock-widget {
  background-color: #59000fda; /* Example color */
}

.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  border-radius: 10px;
  padding: 10px;
  height: 100px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(255, 255, 255);
    }

    .counter {
      font-size: 28px;
      font-weight: bolder;
      color: rgba(255, 255, 255, 0.9);
    }

    .link {
      width: max-content;
      font-size: 12px;
      cursor: pointer;
      text-decoration: none;
    }

    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }

    .link-style {
      text-decoration: none;
      color: white;

      &:hover{
        text-decoration: underline;
      }
      
    }
  }
}
