.cat-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center; // Center vertically
  align-items: center; // Center horizontally
  padding: 10px;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
}

.cat-chart-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
